Repository hydralite/hydralite, pull requests merged in 2021-07, with the labels that each got.

#104 chore(api): move dotenv stuff to the top of the file
  api/src/index.ts
Labels: api

#107 chore(web): migrate to tailwindcss
  web/components/Icons.tsx
  web/components/Login/LoginPage.tsx
  web/components/ProjectLayout/Navbar.tsx
  web/components/ProjectLayout/Sidebar/Sidebar.tsx
  web/components/ProjectLayout/Sidebar/SidebarLink.tsx
  web/components/Switch/Case.tsx
  web/constants/projectPages.ts
  web/constants/projectSidebarLinks.ts
  web/hoc/ProjectLayout/Button.tsx
  web/hoc/ProjectLayout/ProjectLayout.module.scss
  web/hoc/ProjectLayout/ProjectLayout.tsx
  web/hoc/ProjectLayout/Sidebar.tsx
  web/hoc/ProjectLayout/index.tsx
  web/hoc/ProjectLayout/projects.ts
  web/package.json
  web/pages/_app.tsx
  web/pages/dashboard.tsx
  web/pages/index.tsx
  web/pages/project/[id]/[tab]/index.tsx
  web/pages/project/[id]/home/index.tsx
  web/pages/project/[id]/index.tsx
  web/partials/Meta.tsx
  web/postcss.config.js
  web/tailwind.config.js
  web/tsconfig.json
  web/types/ProjectPageProps.ts
  yarn.lock
Labels: web

#109 Removed unnecessary scss files
  web/components/Button/Button.module.scss
  web/components/Button/Button.tsx
  web/components/Dashboard/Navbar.module.scss
  web/components/Dashboard/Navbar.tsx
  web/components/Login/LoginPage.module.scss
  web/components/Login/LoginPage.tsx
  web/components/ProjectLayout/Navbar.tsx
  web/hoc/ProjectLayout/ProjectLayout.module.scss
  web/package.json
  web/pages/_app.tsx
  web/pages/dashboard.tsx
  web/styles/Dashboard.module.scss
  web/styles/Project.module.scss
  web/styles/globals.css
  web/styles/globals.scss
  web/tailwind.config.js
  yarn.lock
Labels: web

#111 chore(api): remove joinDate in prisma schema as createdAt exists
  README.md
  api/prisma/schema.prisma
Labels: api

#108 Finalized with migrating Project Layout from SCSS to tailwindcss and fixed some errors and spacing
  web/components/Icons.tsx
  web/components/ProjectLayout/Navbar.tsx
  web/components/ProjectLayout/Sidebar/SidebarLink.tsx
  web/hoc/ProjectLayout/ProjectLayout.tsx
  web/pages/project/[id]/home/index.tsx
  web/tailwind.config.js
Labels: web

#116 fix(web) - made login page better
  web/components/Login/LoginPage.module.scss
  web/components/Login/LoginPage.tsx
Labels: web

#112 Issue#73
  api/src/resolvers/Hashtag/CreateHashtag.resolver.ts
  api/src/resolvers/Hashtag/DeleteHashtag.resolver.ts
  api/src/resolvers/Hashtag/FindHashtagById.resolver.ts
  api/src/resolvers/Hashtag/FindHashtagByName.resolver.ts
  api/src/resolvers/Hashtag/Hashtags.resolver.ts
  api/src/resolvers/Hashtag/args/CreateHashtagArgs.ts
  api/src/resolvers/Hashtag/args/DeleteHashtagArgs.ts
  api/src/resolvers/Hashtag/args/FindHashtagByIdArgs.ts
  api/src/resolvers/Hashtag/args/FindHashtagByNameArgs.ts
Labels: api

#118 feat(api): posts
  .prettierrc.json
  api/prisma/schema.prisma
  api/src/Server.ts
  api/src/db/PostRepo.ts
  api/src/db/ProjectMemberRepo.ts
  api/src/db/UserRepo.ts
  api/src/middleware/isAuthenticated.middleware.ts
  api/src/resolvers/Post/CreatePost.resolver.ts
  api/src/resolvers/Post/DeletePost.resolver.ts
  api/src/resolvers/Post/FindPostById.resolver.ts
  api/src/resolvers/Post/FindPostsInMass.resolver.ts
  api/src/resolvers/Post/LikeUnlikePost.resolver.ts
  api/src/resolvers/Post/UpdatePost.resolver.ts
  api/src/resolvers/Post/args/CreatePostArgs.ts
  api/src/resolvers/Post/args/DeletePostArgs.ts
  api/src/resolvers/Post/args/FindPostByIdArgs.ts
  api/src/resolvers/Post/args/FindPostsInMassArgs.ts
  api/src/resolvers/Post/args/LikeUnlikePostArgs.ts
  api/src/resolvers/Post/args/UpdatePostArgs.ts
  api/src/resolvers/User/Me.resolver.ts
Labels: api

#124 feat(landing): Add favicon
  landing/public/favicon.ico
  landing/yarn.lock
Labels: landing

#122 Finished Piyush Login Page Implementation
  web/components/Icons.tsx
  web/components/Login/LoginPage.module.scss
  web/components/Login/LoginPage.tsx
  web/public/login_background.svg
  web/tailwind.config.js
Labels: web

#126 refactor bot
  bot/commands/balance.ts
  bot/commands/profile.ts
  bot/index.ts
  bot/tsconfig.json
  bot/types.ts
  commitlint.config.js
  hydrabot/.gitignore
  hydrabot/Dockerfile
  hydrabot/docker-compose.yml
  hydrabot/package.json
  hydrabot/src/classes/bot.ts
  hydrabot/src/commands/balance.ts
  hydrabot/src/commands/profile.ts
  hydrabot/src/data.ts
  hydrabot/src/index.ts
  hydrabot/src/types.ts
  hydrabot/tsconfig.json
  package.json
  yarn.lock
Labels: bot

#128 chore(api): refactor and add to arg files, and change import paths
  api/src/resolvers/Hashtag/CreateHashtag.resolver.ts
  api/src/resolvers/Hashtag/FindHashtagById.resolver.ts
  api/src/resolvers/Hashtag/FindHashtagByName.resolver.ts
  api/src/resolvers/Hashtag/Hashtags.resolver.ts
  api/src/resolvers/Hashtag/args/CreateHashtagArgs.ts
  api/src/resolvers/Hashtag/args/FindHashtagByNameArgs.ts
  api/src/resolvers/Post/args/CreatePostArgs.ts
  api/src/resolvers/Post/args/DeletePostArgs.ts
  api/src/resolvers/Post/args/FindPostByIdArgs.ts
  api/src/resolvers/Post/args/LikeUnlikePostArgs.ts
  api/src/resolvers/Post/args/UpdatePostArgs.ts
  api/src/resolvers/TaskBoard/args/CreateTaskBoardArgs.ts
  api/src/resolvers/TaskCategory/args/CreateTaskCategoryArgs.ts
  api/src/resolvers/TaskLocation/args/CreateTaskLocationArgs.ts
Labels: api

#129 refactor(api): change isAuthenticated to a custom decorator middleware
  api/src/middleware/isAuthenticated.middleware.ts
  api/src/resolvers/Hashtag/CreateHashtag.resolver.ts
  api/src/resolvers/Hashtag/DeleteHashtag.resolver.ts
  api/src/resolvers/Hashtag/FindHashtagById.resolver.ts
  api/src/resolvers/Hashtag/FindHashtagByName.resolver.ts
  api/src/resolvers/Hashtag/Hashtags.resolver.ts
  api/src/resolvers/Post/CreatePost.resolver.ts
  api/src/resolvers/Post/DeletePost.resolver.ts
  api/src/resolvers/Post/FindPostById.resolver.ts
  api/src/resolvers/Post/FindPostsInMass.resolver.ts
  api/src/resolvers/Post/LikeUnlikePost.resolver.ts
  api/src/resolvers/Post/UpdatePost.resolver.ts
  api/src/resolvers/Project/CreateProject.resolver.ts
  api/src/resolvers/Project/FollowUnfollowProject.resolver.ts
  api/src/resolvers/Project/JoinProject.resolver.ts
  api/src/resolvers/Project/LikeUnlikeProject.resolver.ts
  api/src/resolvers/Task/CreateTask.resolver.ts
  api/src/resolvers/User/FollowUnfollowUser.resolver.ts
  api/src/resolvers/User/Me.resolver.ts
  api/src/resolvers/UserRole/AssignProjectRole.resolver.ts
  api/src/resolvers/UserRole/CreateProjectRole.resolver.ts
Labels: api

#132 feat(api): add auth routes
  .prettierrc.json
  .vscode/settings.json
  README.md
  api/package.json
  api/src/Server.ts
  api/src/auth/strategies/GoogleOAuth.ts
  api/src/auth/strategies/TwitterOAuth.ts
  api/src/auth/types/PassportGoogleProfile.type.ts
  api/src/auth/types/PassportTwitterProfile.type.ts
  commitlint.config.js
  docker-compose.yml
  hydrabot/src/classes/bot.ts
  hydrabot/src/commands/balance.ts
  hydrabot/src/commands/profile.ts
  hydrabot/src/data.ts
  hydrabot/src/index.ts
  hydrabot/src/types.ts
  hydrabot/tsconfig.json
  web/components/Icons.tsx
  web/components/Login/LoginPage.tsx
  web/components/ProjectLayout/Navbar.tsx
  web/hoc/ProjectLayout/ProjectLayout.tsx
  web/pages/project/[id]/feed/index.tsx
  web/tailwind.config.js
  yarn.lock
Labels: api, hydrabot, web

#133 Discord bot added role function capabilities
  hydrabot/package.json
  hydrabot/src/index.ts
  hydrabot/src/roles.ts
  hydrabot/src/servers.ts
Labels: hydrabot

#136 Added Resolvers for PostComments
  api/prisma/schema.prisma
  api/src/Server.ts
  api/src/auth/strategies/GoogleOAuth.ts
  api/src/auth/strategies/TwitterOAuth.ts
  api/src/middleware/isAuthenticated.middleware.ts
  api/src/resolvers/Post/CreatePost.resolver.ts
  api/src/resolvers/Post/args/CreatePostArgs.ts
  api/src/resolvers/Post/args/UpdatePostArgs.ts
  api/src/resolvers/PostComment/CreatePostComment.resolver.ts
  api/src/resolvers/PostComment/DeletePostComment.resolver.ts
  api/src/resolvers/PostComment/LikeUnlikePostComment.resolver.ts
  api/src/resolvers/PostComment/ReadAllPostComments.resolver.ts
  api/src/resolvers/PostComment/ReadPostComment.resolver.ts
  api/src/resolvers/PostComment/UpdatePostComment.resolver.ts
  api/src/resolvers/PostComment/args/CreatePostCommentArgs.ts
  api/src/resolvers/PostComment/args/DeletePostCommentArgs.ts
  api/src/resolvers/PostComment/args/LikeUnlikePostCommentArgs.ts
  api/src/resolvers/PostComment/args/ReadAllPostCommentsArgs.ts
  api/src/resolvers/PostComment/args/ReadPostCommentArgs.ts
  api/src/resolvers/PostComment/args/UpdatePostCommentArgs.ts
  hydrabot/src/roles.ts
Labels: api, hydrabot

#137 Made Development setup for Databases in api simpler
  api/default.env
  api/docker/hydralite-api/docker-compose.yml
  api/package.json
Labels: api

#138 mobile: split up login.dart and implement dark mode
  .gitignore
  mobile/lib/auth/login.dart
  mobile/lib/auth/loginButton.dart
  mobile/lib/main.dart
  mobile/pubspec.yaml
Labels: mobile

#139 mobile: change navbar color to system theme
  mobile/lib/auth/login.dart
Labels: mobile

#140 dockerized hydrabot and resolved it from crashing when not having perms
  hydrabot/Dockerfile
  hydrabot/src/index.ts
  hydrabot/src/roles.ts
  hydrabot/src/servers.ts
  hydrabot/tsconfig.json
Labels: hydrabot

#141 added db start and stop to api for easier access
  api/package.json
  docker/hydralite-api/docker-compose.yml
  docker/hydralite/docker-compose.yml
Labels: api

#147 Made by the pins hub gitpodify
  .gitpod.Dockerfile
  .gitpod.yml
  api/Dockerfile
  api/docker-entrypoint.sh
  docker/package.json
  package.json
Labels: api

#144 fix(gitpod): fix Docker command not found
  .gitpod.Dockerfile
  .gitpod.yml
  api/Dockerfile
  api/docker-entrypoint.sh
  docker/package.json
  package.json
Labels: api

#149 Added standalone mode and more customazibility
  api/src/Server.ts
  api/src/auth/strategies/DiscordOAuth.ts
  api/src/auth/strategies/GithubOAuth.ts
  api/src/auth/strategies/GoogleOAuth.ts
  api/src/auth/strategies/Strategy.ts
  api/src/auth/strategies/TwitterOAuth.ts
  api/src/auth/token/util/TokenPair.ts
  api/src/auth/util/fetchOauthClientInfo.ts
  api/src/types/AuthProvider.type.ts
  package.json
  yarn.lock
Labels: api

#153 Added Discord OAuth
  api/src/auth/strategies/DiscordOAuth.ts
  web/pages/auth/providers/[provider].tsx
  web/pages/auth/providers/github.tsx
Labels: api, web

#154 chore(api): removed some debug stuff and fixed setup.js to add discor…
  api/setup.js
  api/src/auth/strategies/DiscordOAuth.ts
Labels: api

#152 refactor(web): rename web/constants.ts to web/constants/global.ts and modify Docker
  web/Dockerfile
  web/components/Login/LoginPage.tsx
  web/constants/global.ts
  web/hoc/api/UseApiConnection.tsx
  web/pages/auth/logout.tsx
  web/pages/auth/providers/[provider].tsx
Labels: web

#155 build: upgrade packages
  api/package.json
  landing/package.json
  package.json
  web/package.json
  yarn.lock
Labels: api, landing, web

#156 Revert "build: upgrade packages"
  api/package.json
  landing/package.json
  package.json
  web/package.json
  yarn.lock
Labels: api, landing, web

#158 fix(wcag): adjust `muted-3` color to pass wcag
  landing/styles/globals.css
Labels: landing

#157 fix(commitlint): fix failing Commitlint CI and failing Gitpod workspace image builds
  .devcontainer/README.md
  .github/workflows/docker-dev_container_build.yml
  .gitpod.Dockerfile
  .gitpod.yml
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  api/.env.example
  api/setup.js
  commitlint.config.js
  cz-commitlint-config/AUTHORS
  cz-commitlint-config/CHANGELOG.md
  cz-commitlint-config/README.md
  cz-commitlint-config/customizations.json
  cz-commitlint-config/engine.js
  cz-commitlint-config/index.js
  cz-commitlint-config/package.json
  cz-commitlint-config/schema.json
  docker/bin/redis-init-script
  docker/redis.conf
  package.json
  yarn.lock
Labels: api
