Repository hydralite/hydralite, pull requests merged in 2021-08, with the labels that each got.

#160 feat(api): interest resolvers
  api/prisma/schema.prisma
  api/src/auth/strategies/DiscordOAuth.ts
  api/src/auth/token/util/TokenPair.ts
  api/src/resolvers/Interest/FindInterestsInMass.resolver.ts
  api/src/resolvers/Interest/args/FindInterestsInMassArgs.ts
  api/src/resolvers/MemberRole/CreateMemberRole.resolver.ts
Labels: api

#162 Feat/opportunity resolvers
  api/.env.example
  api/package.json
  api/prisma/schema.prisma
  api/src/db/ProjectMemberRepo.ts
  api/src/resolvers/Interest/FindInterestsInMass.resolver.ts
  api/src/resolvers/InterestOrSkill/CreateInterestOrSkill.resolver.ts
  api/src/resolvers/InterestOrSkill/DeleteInterest.resolver.ts
  api/src/resolvers/InterestOrSkill/FindInterestsOrSkillsInMass.resolver.ts
  api/src/resolvers/InterestOrSkill/args/CreateInterestOrSkillArgs.ts
  api/src/resolvers/InterestOrSkill/args/DeleteInterestOrSkillArgs.ts
  api/src/resolvers/InterestOrSkill/args/FindInterestsOrSkillsInMassArgs.ts
  api/src/resolvers/MemberRole/AssignMemberRole.resolver.ts
  api/src/resolvers/MemberRole/CreateMemberRole.resolver.ts
  api/src/resolvers/MemberRole/args/CreateMemberRoleArgs.ts
  api/src/resolvers/Opportunity/CreateOpportunity.resolver.ts
  api/src/resolvers/Opportunity/DeleteOpportunity.resolver.ts
  api/src/resolvers/Opportunity/FindOpportunitiesByProjectInMass.resolver.ts
  api/src/resolvers/Opportunity/FindOpportunitiesInMass.resolver.ts
  api/src/resolvers/Opportunity/FindOpportunityById.resolver.ts
  api/src/resolvers/Opportunity/UpdateOpportunity.resolver.ts
  api/src/resolvers/Opportunity/args/CreateOpportunityArgs.ts
  api/src/resolvers/Opportunity/args/DeleteOpportunityArgs.ts
  api/src/resolvers/Opportunity/args/FindOpportunitiesByProjectInMassArgs.ts
  api/src/resolvers/Opportunity/args/FindOpportunitiesInMassArgs.ts
  api/src/resolvers/Opportunity/args/FindOpportunityByIdArgs.ts
  api/src/resolvers/Opportunity/args/UpdateOpportunityArgs.ts
  api/src/resolvers/Opportunity/types/types.ts
  api/src/resolvers/Project/CreateProject.resolver.ts
  api/src/types/MemberPerms.type.ts
  yarn.lock
Labels: api

#168 style(web): add redesign colours to Tailwind config
  web/tailwind.config.js
Labels: web

#169 Added Modals for Signing in
  web/.pnpm-debug.log
  web/components/Icon/index.tsx
  web/components/Login/LoginPage.tsx
  web/components/Navbar/Navbar.tsx
  web/components/Sidebar/Sidebar.tsx
  web/components/Signup/SignupPage.tsx
  web/next-env.d.ts
  web/pages/auth/providers/[provider].tsx
  web/pages/auth/providers/github.tsx
  web/pages/index.tsx
  web/pages/signup.tsx
  web/pnpm-lock.yaml
  web/styles/globals.css
  web/tailwind.config.js
Labels: web

#171 feat(github-actions): add linting action
  .github/workflows/lint-action.yml
  web/.gitignore
  web/.pnpm-debug.log
  web/pnpm-lock.yaml
Labels: web

#174 Landing page new Icon
  landing/public/favicon.ico
  landing/public/logo.png
  web/components/Sidebar/SidebarProject.tsx
  web/constants/global.ts
Labels: web, landing
